*,
*::after,
::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  /* 62.5% of 16px =10px */
  font-size: 62.5%;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 1.9;
}
h1,
h2,
h3 {
  color: var(--font-color);
  margin-bottom: 1rem;
  line-height: 1.1;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}
#timer {
  justify-content: center;
}

h1 {
  color: #182a42;
  text-align: center;
  font-size: 80px;
}
h2 {
  font-size: 90px;
  color: #347b1d;
  text-align: center;
}
.container {
  height: 500px;
  width: 700px;
  background-color: #f3f3f3;
  margin-top: 10rem;
}
.container h1 {
  margin-top: 5rem;
}
.container h2 {
  size: 30px;
  margin-top: 10rem;
}
.btn {
  border-radius: 10px;
  margin-right: 20px;
  font-size: 16px;
  padding: 6px 15px;
  font-weight: 400;
  letter-spacing: 1.2px;
  background: #f3f3f3;
  border: 3px solid #f3f3f3;
  box-shadow: 0 10px 10px #f3f3f3;
  cursor: pointer;
  width: 200px;
  height: 200px;
  background: blue;
  color: #f3f3f3;
}
.btn-box-1:hover {
  color: #315fad;
  opacity: 1;
  transition: 0.3s;
}
.box {
  margin-top: 0rem;
  margin-left: 10rem;
  display: flex;
  justify-content: center;
  width: 500px;
  margin-top: 5rem;
}
.box button {
  height: 40px;
  width: 150px;
}
/* EXCHANGE */
#timer .btn-1 {
  height: 200px;
  width: 70px;
}

.btn-text {
  color: #5f6368;
  font-weight: 600;
  font-size: 17px;
  padding: 10px 10px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  height: 100px;
  width: 100px;
}
.contain-box {
  display: flex;
  justify-content: center;
  width: 570px;
  margin-top: 5rem;
}
.contain-box input {
  margin-top: 2rem;
  height: 50px;
  width: 150px;
  font-size: 14px;
  margin-bottom: 2rem;
  border: 2px solid #347b1d;
  margin-left: 10rem;
  padding: 10px;
}

.disabled {
  background: rgb(236, 236, 236);
  border: 0;
}
